{% extends "layout.html" %}

{% load static from staticfiles %}

{% block title %}Online Booking!{% endblock %}


{% block content %}

<h1>Welcome to Emelda Airline</h1>

<p> We are here to provide you with the best service.You are guaranteed a good flight with our most trusted airline.</p>
<div class="footer_base">
<img src="{% static "css/ndege.jpg" %}" (width = 250, height = 250, crop = 'fill') alt="My image"/>

<footer>&copyCopyright 2016 Emelda Airline. All rights reserved</footer>
</div>
{% endblock %}

